<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359281505579-3kim9s2s5n29qehjrqbf0g89phu6vf1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359281505579-3kim9s2s5n29qehjrqbf0g89phu6vf1l</string>
	<key>API_KEY</key>
	<string>AIzaSyCJSKG2hVtGCvm89QytQy_tNGEukEV6yQo</string>
	<key>GCM_SENDER_ID</key>
	<string>359281505579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string></string>
	<key>PROJECT_ID</key>
	<string>betterbase-a3597</string>
	<key>STORAGE_BUCKET</key>
	<string>betterbase-a3597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:359281505579:ios:1464d651e5525216a1816e</string>
</dict>
</plist>
