<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984827914998-o5kj80ofn0ngi6162qlu9697ckuvkhht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984827914998-o5kj80ofn0ngi6162qlu9697ckuvkhht</string>
	<key>API_KEY</key>
	<string>AIzaSyBWKJFvlQJxay4wyKghXABC7qrfvErhGGs</string>
	<key>GCM_SENDER_ID</key>
	<string>984827914998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sucodee.caloriesApp</string>
	<key>PROJECT_ID</key>
	<string>betteryou-6d9f3</string>
	<key>STORAGE_BUCKET</key>
	<string>betteryou-6d9f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984827914998:ios:5fb10d00e0d0d9fc681ad7</string>
</dict>
</plist>